/* Navbar.css */

.navbar {
    background: transparent; /* Set your desired background color */
    padding: 15px 15px;
    text-align: center;
    box-shadow:0 5px 15px rgba(0,0,0,0.6);
    box-sizing: content-box;
    width: 100%;
    margin-bottom: 15px;
  }
  
  .nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    display: inline-block;
    margin-right: 90px;
    justify-content: space-between;
  }
  
  .nav-item:last-child {
    margin-right: 0;
  }
  